@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
#assignments{
    min-height: 100vh;
}
#assignments #one,#two,#three,#four,#five,#six
{
    margin:20px 0;
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.2);
    border-radius: 20px;
}
#one{
    background: linear-gradient(to right, #8e2de2, #4a00e0);
}
#two{
    background: linear-gradient(to right, #eb3349, #f45c43);
}
#three{
    background: linear-gradient(to right, #16222a, #3a6073);
}
#four{
    background: linear-gradient(to right, #4cb8c4, #3cd3ad);
}
#five{
    background: linear-gradient(to right, #ff512f, #f09819);
}
#six{
    background: linear-gradient(to right, #1a2980, #26d0ce) ;
}
#assignments .it .btn-orange
{
	background: #d4d4d4;
    /* border-color: #240b36!important; */
    border: none;
	color: rgb(0, 0, 0);
	text-align: left;
    width:100%;
}
#assignments .it input.form-control
{
	height: 54px;
	border:none;
    margin-bottom:0px;
	border-radius: 10px;
	border-bottom: 1px solid #ddd;
	box-shadow: none;
}
#assignments .it .form-control:focus
{
	border-color: #000000;
	box-shadow: none;
	outline: none;
}
#assignments .fileUpload {
    position: relative;
    overflow: hidden;
    /* margin: 10px; */
}
#assignments .fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#assignments .it .btn-new,#assignments .it .btn-next
{
	margin: 0px 0 25px 0px;
	border-radius: 10px;
	background-color: #333;
	color: #f5f5f5;
	font-size: 16px;
	width: 155px;
}
#assignments .subject{
    font-size: 45px;
    letter-spacing: 4px;
    color: #f0f0f0;

    text-shadow: 
      4px 4px 0px #272727, 
      7px 7px 0px rgba(0, 0, 0, 0.2);
    font-family: 'Bangers', cursive;
}
#assignments .it .btn-next
{
	background-color: #d4d4d4;
    color: #000;
    font-weight: 600;
}
#assignments .it .btn-next:hover{
    background:rgb(255, 255, 255);
    color: #000;
    transition: 0.3s;
}
#assignments .it .btn-check
{
  cursor:pointer;
  /* line-height:54px; */
  position: absolute;
  top: 10px;
  left: 0;
  font-size: 20px;
  color:#314755;
  
}
#assignments .it .uploadDoc
{
	margin-bottom: 20px;
}
#assignments .it .uploadDoc
{
    margin-bottom: 20px;
    
}
#assignments .it .btn-orange img {
    width: 25px;
}
#assignments p
{
  color: white;
  font-size:16px;
  text-align:center;
  margin:25px 0 10px 0px;
}
#assignments .it #uploader .docErr
{
	position: absolute;
    right:auto;
    left: 10px;
    top: -56px;
    padding: 10px;
    font-size: 15px;
    background-color: #fff;
    color: red;
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,0.2);
    display: none;
}
#assignments .it #uploader .docErr:after
{
	content: '\f0d7';
	display: inline-block;
	font-family: FontAwesome;
	font-size: 50px;
	color: #fff;
	position: absolute;
	left: 30px;
	bottom: -40px;
	text-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}
progress {
    display: block; /* default: inline-block */
    width: 300px;
    margin: 2em auto;
    padding: 4px;
    border: 0 none;
    background: #444;
    border-radius: 14px;
    box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
  }
  progress::-moz-progress-bar {
    border-radius: 5px;
    background: #FFF;
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3);
    
  }
  /* webkit */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    progress {
      height: 25px;
    }
  }
  progress::-webkit-progress-bar {
      background: transparent;
  }  
  progress::-webkit-progress-value {  
    border-radius: 12px;
    background: #FFF;
    box-shadow: inset 0 -2px 4px rgba(0,0,0,0.4), 0 2px 5px 0px rgba(0,0,0,0.3); 
  } 
/* @media(max-width:767px){
    #assignments .it .btn-orange img {
        display: none;
        /* position: absolute; 
    }
    #assignments .it .btn-check{
        position: absolute;
        top: 10px;
        left: 0;
    }
}
@media(max-width:575px){
    #assignments .heading{
        position: relative;
        /* left: 100%!important; 
        font-family: 'Lato';
        font-weight: 700;
        left: 0%;
    }
    #assignments .it .btn-orange{
        width: 100px;
    }
    #assignments .it input.form-control{
        width: 60%!important;
        position: absolute;
        left: 130px;
        top: -55px;
    }
   

    #assignments .it .btn-orange img {
        width: 20px;
        display: inline-block;
        /* margin-right:10px ; 
    }
    #assignments .it .btn-check{
        position: absolute;
        top: -40px;
        left: 90%;
        font-size: 16px;
        /* color: white; 
    }
    
}
@media(max-width:460px){
    #assignments .it input.form-control{
        width: 55%!important;
        position: absolute;
        left: 130px;
        top: -55px;
    }
    #assignments .it .btn-check{
        left: 93%;
    }
}
@media(max-width:370px){
    #assignments .it .btn-orange{
        left: -20px;
    }
    #assignments .it input.form-control{
        width: 50%!important;
        position: absolute;
        left: 120px;
        top: -55px;
    }
    #assignments .it .btn-check{
        left: 93%;
    }
}

 */
