<%- include("partials/header") %>
<section id="events">
        
</section>
<div class="months">
    <span id="jan" class="currentMon" onClick="window.location.href='#Jan';">Jan</span>
    <span id="feb" onClick="window.location.href='#Feb';">Feb</span>
    <span id="mar" onClick="window.location.href='#Mar';">Mar</span>
    <span id="apr" onClick="window.location.href='#Apr';">Apr</span>
    <span id="may" onClick="window.location.href='#May';">May</span>
    <!-- <span>Jun</span> -->
    <span id="jul" onClick="window.location.href='#Jul';">Jul</span>
    <span id="aug" onClick="window.location.href='#Aug';">Aug</span>
    <!-- <span>Sep</span> -->
    <span id="oct" onClick="window.location.href='#Oct';">Oct</span>
    <span id="nov" onClick="window.location.href='#Nov';">Nov</span>
    <span id="dec" onClick="window.location.href='#Dec';">Dec</span>
</div>
    
    

<%- include("partials/footer") %>